{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
</head>
<body>
{% include "navbar.html" %}
<div class="container">
    <div class="col-3"></div>
    <div class="">
        <h1>Filters</h1><a href="/create_filter/" class="btn btn-dark mb-2">Create New filter</a>
        <table class="table table-stripped">
            <tr class="bg-dark text-white">
                <th class="">Input</th>
                <th class="">Type</th>
                <th class="">Output</th>
                <th class="">Delete</th>
            </tr>
            {% for f in filters %}
                <tr class="td-hl">
                    <td class="">{{ f.input }}</td>
                    <td class="">{{ f.type }}</td>
                    <td class="">{{ f.output }}</td>
                    <td class="">
                        <button id="DeleteButton{{ f.id }}" onclick="OnDelete({{ f.id }})" class="btn btn-warning">
                            Delete
                        </button>
                        <form method="post" id="DeleteForm{{ f.id }}" hidden>
                            {% csrf_token %}
                            <input type="hidden" value="{{ f.id }}" name="FilterId">
                            <button id="SureButton{{ f.id }}" class="btn btn-danger">Are you sure?</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-3"></div>
</div>
<script>
    function OnDelete(id) {
        var old = document.getElementById("DeleteButton" + String(id))
        var newb = document.getElementById("DeleteForm" + String(id))
        old.hidden = true
        newb.hidden = false
    }
</script>
</body>
</html>.