{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
</head>
<body>
{% include "navbar.html" %}
<div class="container">
    <div class="col-3"></div>
    <div class="">
            <table class="table table-stripped">
                <tr class="bg-dark text-white">
                    <th class="">Input</th>
                    <th class="">Type</th>
                    <th class="">Output</th>
                </tr>
                {% for r in items %}
                    <tr class="{% if r.storage_to == "DELETED" %}bg-light-red td-hl-red{% else %}td-hl{% endif %}">
                        <td class="txt-al-cntr"></td>
                        <td class="txt-al-cntr"></td>
                        <td class="txt-al-cntr"></td>
                    </tr>
                {% endfor %}
            </table>
    </div>
    <div class="col-3"></div>
</div>

</body>
</html>.